body{
    background-color:  #F8AFA6; 
}
header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    color: black;
    background-color: #F79489;
    border-radius: 25px;
    box-shadow: 0px 1px 4px black; 
}
main {
    padding-bottom: 50px;
}
.skip {
    position: absolute;
    left: -1000px;
}
.skip:focus {
    left: 10px;
}
nav {
    position: fixed;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    background-color: #F8AFA6;
    z-index: 1;
    left: 0;
    right: 0;
    border-top: 1px solid #FADCD9;
}
nav ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    list-style-type: none;
    padding: 2px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li {
    font-size: larger;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #F79489;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 1px 4px black; 
}
nav ul li.active {
    background-color: #FADCD9;
}
nav ul li:hover {
    background-color: #FADCD9;
    transition: background-color .5s;
}

.card-home {
    color: black;
    background-color: #F79489;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: 0px 1px 4px black; 
}

.card-home p {
    display: flex;
    font-size: large;
    padding: 10px;
}

.card-home img {
    margin: auto;
    display: flex;
    max-width: 95%;
    max-height: 95%;
    border-radius: 20px;
    padding-top: 10px;
}

.card{
    color: black;
    background-color: #F79489;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: 0px 1px 4px black; 
}
.card h2{
    margin-left:px;
}
.card h3 {
    margin-left: 10px;
    padding-top: 5px;
}
.card p{
    display: flex;
    font-size: large;
    padding: 10px;
}

.card img {
    margin: auto;
    display: flex;
    max-width: 95%;
    max-height: 95%;
    border-radius: 20px;
    padding-top: 10px;
}
.card video {
    margin: auto;
    display: flex;
    max-width: 95%;
    max-height: 95%;
    border-radius: 20px;  
}
.card li {
    padding-bottom: 15px;
}
.grid-cont {
    display: grid;
    grid-template-columns: repeat(2,2fr);
    justify-content: center;
    align-content: center;
}
@media (prefers-reduced-motion: reduce) {
    img {
      animation: none;
    }
    nav ul li:hover {
        transition: none;
    }
  }

@media (min-width: 600px) {
    
}

@media (min-width: 900px) {
    /* change nav bar to be on top and make icons larger*/
    main {
        padding-bottom: 0;
        padding-top: 70px;
    }
    nav {
        top: 0;
        bottom: auto;
        background-color: #F79489;
        opacity: .9;
        box-shadow: 0px 1px 4px black; 
        z-index: 1;
        border-top: none;
    }

    nav ul li {
        float: left;
        font-size: x-large;
        padding-right: 75px;
        padding-left: 75px;
        border-radius: 0;
        border-right: 1px solid black;
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: none; 
    }

    nav ul li a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: larger;
    }

    nav ul {
        display: inline;
        overflow: hidden;
        list-style-type: none;
        padding: 2px;
    }

    /* card adjustment making the cards smaller maybe make gallery scrollable*/
    .card-home{
        color: black;
        background-color: #F79489;
        border-radius: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 50px;
        margin-top: 50px;
        box-shadow: 0px 1px 4px black; 
        display: flex;
        padding: 2em;
        max-width: 75%;
        justify-content: center;
    }

    .card-home img {
        margin: 1em;
        max-width: 25%;
        max-height: 50%;
        border-radius: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-home p {
        font-size: 25px;
    }

    header h1{
        font-size: 60px;
    }
    .skip {
        position: absolute;
        left: -1000px;
    }
    .skip:focus {
        left: 10px;
        top: 100px;
    }

    .card {
        padding: 1em;
        max-width: 75%;
        justify-content: center;   
        font-size: 25px;
     }

     .card img{
        max-width: 75%;
        max-height: 75%;
     }
     
     .grid-cont {
        display: flex;
        overflow: auto;
        white-space: nowrap;
        padding: 10px;
     }

  
    
     .gallery-box {
        display: flex;
        padding: 15px;
        
     }
     .gallery-box img {
        grid-column: 0 / 1;
     }
     .gallery-box p {
        grid-column: 1 / 2;
     }
}